@model ReporteSemanalViewModel

@{
    ViewData["Title"] = "Reporte Semanal";

    string FormatearFecha(DateTime fecha)
    {
        return fecha.ToString("MM.dd");
    }
    
    string FomatearBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }

    var resumenMontos = new ResumenMontoViewModel()
    {
        Ingresos = Model.Ingresos,
        Gastos = Model.Gastos,
        Total = Model.Total
    };
}

<partial name="_SubMenu" model="SubMenuTransacciones.Semanal"/>

<partial name="_NavegarPorMeses" model="@Model.FechaReferencia"/>

<partial name="_ResumenMontos" model="@resumenMontos"/>

<table class="table tabla-semanal">
    <thead>
    <tr>
        <th>Semana</th>
        <th class="text-end">Ingresos</th>
        <th class="text-end">Gastos</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaccionesPorSemana in Model.TransaccionesPorSemana)
    {
        <tr>
            <td>
                <a class="semana-badge" asp-action="Index"
                   asp-route-anio="@Model.FechaReferencia.Year"
                   asp-route-mes="@Model.FechaReferencia.Month">
                    <i class="bi bi-calendar-week me-1"></i>
                    @FormatearFecha(transaccionesPorSemana.FechaInicio) ~ @FormatearFecha(transaccionesPorSemana.FechaFin)
                </a>
            </td>
            <td class="text-end activo">@FomatearBalance(transaccionesPorSemana.Ingresos)</td>
            <td class="text-end pasivo">@FomatearBalance(transaccionesPorSemana.Gastos)</td>
        </tr>
    }
    </tbody>
</table>
