@model DateTime

<div class="d-flex justify-content-center align-items-center nav-mes">
    <a asp-route-mes="@ViewBag.MesAnterior" asp-route-anio="@ViewBag.AnioAnterior" class="btn btn-nav">
        <i class="bi bi-chevron-left"></i>
    </a>

    <span class="month-year mx-4">
        @Model.ToString("MMM yyyy")
    </span>

    <a asp-route-mes="@ViewBag.MesPosterior" asp-route-anio="@ViewBag.AnioPosterior" class="btn btn-nav">
        <i class="bi bi-chevron-right"></i>
    </a>
</div>


